// ========================= COLOURS ========================= //



// ========================= CORE ========================= //

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
  }
